* {
  margin-top: .5em;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorBtn: linear-gradient(#A7E9AF 11%, #75B79E 100%);
  --windowBlack: #EEF9BF;
  --windowWhite: #EEF9BF;
  --circle: rgb(237, 232, 235);
}

html {
  font-size: 62.5%;
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
  background-size: cover;
  background-position: center;
  /* background: url(../assets/img/fondo.png), #7b4397; */
  /* background: url(../assets/img/fondo.png),
    linear-gradient(to left, #2b1f3b, #031424); */
}

header {
  width: 100vw;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #75B79E;
}

.btno {
  border: none;
  color: white;
  font-weight: bold;
  box-shadow: 0px 4px 3px 2px rgb(0 0 0 / 16%);
}

.ejecutar {
  margin-left: 20px;
  padding: 10px;
  background-image: var(--colorBtn);
  color: #031424;
  border-radius: 5px;
  margin-top: 5px;
  display: none;
}

.ejecutar:hover {
  color: #ddd;
  box-shadow: 0 0 0 2px rgb(43, 224, 118)
}

.paso {
  padding: 5px;
  background-image: var(--colorBtn);
  border-radius: 5px;
  color: #031424;
  cursor: pointer;
  margin-left: 100px;
  display: none;
}

.paso:hover {
  cursor: pointer;
  color: white;
  box-shadow: 0 0 0 2px rgb(43, 224, 118)
}

.state {
  width: 40px;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
}

/* BOTONES DE ESTADO DE MAQUINA */
#encender {
  background-image: linear-gradient(135deg, #FFF720 10%, #3CD500 100%);
}

#encender:hover {
  background-image: linear-gradient(135deg, #EEF9BF 15%, #75B79E 100%);
}

#apagar {
  background-image: linear-gradient(135deg, #f7da4b 10%, #f56a6a 100%);
  display: none;
}

#apagar:hover {
  background-image: linear-gradient(135deg, #EEF9BF 15%, #75B79E 100%);
}

#addAlgoritm {
  display: none;
}

#informacion {
  height: 50px;
  width: 60px;
  border-radius: 22px;
  border: none;
  background: linear-gradient(#A7E9AF 11%, #75B79E 100%);
}

#informacion:hover {
  background-image: linear-gradient(135deg, #EEF9BF 15%, #75B79E 100%);
}

.fa-plus-square {
  margin: 0;
  color: black;
  width: 100%;
  height: 100%;
  font-size: 35px;
  opacity: 80%;
  display: none;
}

.fa-plus-square:hover {
  opacity: 100%;
}

.container-inicio {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.article {
  position: relative;
  background-color: #EEF9BF;
  border-radius: 5px;
  padding: 5px 30px;
  height: 80%;
  width: 90%;
  margin-left: 10px;
  margin-bottom: 20px;
}

.article p {
  position: absolute;
  top: -15px;
  left: calc(50% - 44px);
  font-size: 14px;
  padding: 5px;
  width: 90px;
  border-radius: 15px;
  color: #031424;
  background-image: var(--colorBtn);
  text-align: center;
  font-weight: bold;


}

#variables span {
  font-size: 1.4rem;
  margin-bottom: 10px;
  display: block;
}

#etiquetas span {
  font-size: 1.4rem;
  margin-bottom: 10px;
  display: block;
}

.article input {
  width: 50px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  left: 150px;
}

.article-container--input {
  margin-top: 15px;
}

.show-memory button {
  background-image: var(--colorBtn);
  border-radius: 22px;
  padding: 15px;
  color: #031424;
  cursor: pointer;
  font-size: 13px;
}

.show-memory button:hover {
  background-image: linear-gradient(135deg, #EEF9BF 15%, #75B79E 100%);
}

/* Segunda SECCION */

main {
  width: 100vw;
  height: 74vh;
  padding: 20px;
  padding-bottom: 0px;
  display: grid;
  grid-template-columns: 75% 25%;
}

main .operations {
  padding: 20px;
  background-color: var(--windowWhite);
  height: 90%;
  position: relative;
}

.operations p {
  position: absolute;
  font-family: "Roboto", sans-serif;
  background-image: var(--colorBtn);
  padding: 10px;
  border-radius: 15px;
  font-size: 15px;
  top: -28px;
  left: calc(50% - 45px);
  color: #031424;
  font-weight: 700;
}

.operaciones-texto {
  width: 100%;
  height: 400px;
  margin-top: 10px;
  background-color: transparent;

  border: none;
  overflow: scroll;
  color: black;
  text-align: left;
  font-size: 1.2rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

/* MONITOR CONTAINER */

main .monitor-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.monitor-container .container-interfaz {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

/*IMAGENES DE MONITOR Y IMPRESORA*/
.monitor-container .monitor-container--img {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.monitor-background {
  margin-left: 5px;
  display: flex;
  position: relative;
  background-color: var(--window);
  font-family: "Courier New", Courier, monospace;
  font-weight: 200;
  width: 200px;
  border-radius: 15px;
  height: 120px;
}

.monitor-text {
  margin-top: 18px;
  margin-left: -24px;
  width: 250px;
  height: 109px;
  color: black;
  font-size: 1.2rem;
  background-color: var(--windowBlack);
}

.monitor-background button {
  position: absolute;
  bottom: -72px;
  left: calc(50% - 40px);
}

#monitor {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 200px;
}

.main-impresora {
  display: flex;
  flex-direction: column;
}

#printer {
  width: 50%;
  height: 40%;
  align-self: center;
}

.impresora-texto {
  background-color: var(--windowWhite);
  color: black;
  margin: 0 6px;
  width: 95%;
  height: 97px;
  border-radius: 5px;
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
  padding: 5px;
}

/* MEMORIA */

.container-memory {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
}

.container-memory button {
  background-image: var(--colorBtn);
  padding: 15px;
  border-radius: 15px;
  color: #031424;
  margin: 10px;
  cursor: pointer;
  display: none;
}

.container-memory button:hover {
  color: #ddd;
  box-shadow: 0 0 0 2px rgb(237, 232, 235);
}

#memoria {
  width: 100%;
  height: 378px;
  margin-top: 20px;
  background-color: var(--windowWhite);
  border-radius: 5px;
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
  padding: 5px;
  overflow: scroll;
  display: none;
  color: black;
}

#variables {
  overflow: scroll;
  color: black;
  height: 190px;
  padding-top: 10px;
}

#etiquetas {
  overflow: scroll;
  color: black;
  height: 190px;
  padding-top: 10px;
}

/* footer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  overflow: scroll;
  width: 69%;
  height: 62px;
  background-color: var(--windowBlack);
  margin: 0 20px;
  margin-top: 5px;
  border-radius: 15px;
  color: aliceblue;
} */

/* #footer-container-title {
  height: auto;
  margin-right: 10px;
  color: #3cd500;
  background-color: var(--windowWhite);
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  vertical-align: center;
  border-radius: 15px;
} */

/* .footer-container-row {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .footer-container-row h3 {
  width: 90%;
  color: #3cd500;
  border-bottom: 1px solid green;
  text-align: center;
  font-size: small;
} */

::-webkit-scrollbar {
  display: none;
}